/* your styles go here */
/* Example site test */

:root {
  --primary-accent: #744c9b;
  --navbar-border-top:#e2d6ed;
  --button-border: #7a4aa3;
  --link-focus: #e2d6ed;
  --form-shadow: rgba(152, 109, 189, 0.6);
  --pagination-bg: #e2d6ed;
  --link-hover-bg: #7f4daa;
  --navbar-focus:#e2d6ed; 
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.08em;
  border-top: solid 5px transparent;
}

/*
:root {
  --primary-accent: #986dbd;
  --navbar-border-top: #653d87;
  --button-border: #7a4aa3;
  --link-focus: #724599;
  --form-shadow: rgba(152, 109, 189, 0.6);
  --pagination-bg: #e2d6ed;
  --link-hover-bg: #7f4daa;
  --navbar-focus: #cab3dd;
}
*/
.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

a.icone-footer, a.icone-footer:link, a.icone-footer:visited, a.icone-footer:hover, a.icone-footer:focus, a.icone-footer:active{
  color:white;
  font-size: 30px;
}